body {
    background: url(https://c4.wallpaperflare.com/wallpaper/447/169/141/tv-show-ben-10-ben-tennyson-diamondhead-ben-10-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.h1 {
    font-style: italic;
    color: white;
    background-color: orange;
    width: 64%;
    height: 55px;
    text-align: center;
    position: absolute;
    left: 317px;
    top: 116px;
}

.kk {
    position: absolute;
    left: 660px;
    top: 180px;
    font-weight: bold;
    font-size: 23px;
}

.ss {
    height: 110px;
    width: 110px;
    padding-left: 10px;
    padding-right: 10px;
}

.dd {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gg {
    position: absolute;
    left: 647px;
    top: 385px;
    font-weight: bold;
    font-size: 23px;
}

img {
    height: 110px;
    width: 110px;
    padding-left: 5px;
    padding-right: 5px;
}

.jh {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
